In [1]:
#project 3 of level 1:
#idea:Data Cleaning 
import pandas as pd
dataset = r"C:\Users\syedn\Desktop\EDA_resales _data\AB_NYC_2019.csv"
nyc_data = pd.read_csv(dataset)
nyc_data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [2]:
nyc_data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [3]:
nyc_data.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [4]:
#Data Integrity checks
print(nyc_data.info())
print(nyc_data.describe(include='all'))

# Normalize column names by removing extra spaces
nyc_data.columns = nyc_data.columns.str.strip()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB
None
                  id            name       host_id host_name  \
count   4.889500e+04           48879  4.889500e+04     48874
unique           NaN           47905           NaN     11452
top              NaN  Hillside Hotel           NaN   Michael
freq             NaN              18           NaN       417
mean    1.901714e+07             NaN  6.762001e+07       NaN
std     1.098311e+07             NaN  7.861097e+07       NaN
min     2.539000e+03             NaN  2.438000e+03       NaN
25%     9.471945e+06             NaN  7.822033e+06       NaN
50%     1.967728e+07             NaN  3.079382e+07       NaN
75%     2.915218e+07             NaN  1.074344e+08       NaN
max     3.648724e+07             NaN  2.743213e+08       NaN

       neighbourhood_group neighbourhood      latitude     longitude  \
count                48895         48895  48895.000000  48895.000000
unique                   5           221           NaN           NaN
top              Manhattan  Williamsburg           NaN           NaN
freq                 21661          3920           NaN           NaN
mean                   NaN           NaN     40.728949    -73.952170
std                    NaN           NaN      0.054530      0.046157
min                    NaN           NaN     40.499790    -74.244420
25%                    NaN           NaN     40.690100    -73.983070
50%                    NaN           NaN     40.723070    -73.955680
75%                    NaN           NaN     40.763115    -73.936275
max                    NaN           NaN     40.913060    -73.712990

              room_type         price  minimum_nights  number_of_reviews  \
count             48895  48895.000000    48895.000000       48895.000000
unique                3           NaN             NaN                NaN
top     Entire home/apt           NaN             NaN                NaN
freq              25409           NaN             NaN                NaN
mean                NaN    152.720687        7.029962          23.274466
std                 NaN    240.154170       20.510550          44.550582
min                 NaN      0.000000        1.000000           0.000000
25%                 NaN     69.000000        1.000000           1.000000
50%                 NaN    106.000000        3.000000           5.000000
75%                 NaN    175.000000        5.000000          24.000000
max                 NaN  10000.000000     1250.000000         629.000000

       last_review  reviews_per_month  calculated_host_listings_count  \
count        38843       38843.000000                    48895.000000
unique        1764                NaN                             NaN
top     2019-06-23                NaN                             NaN
freq          1413                NaN                             NaN
mean           NaN           1.373221                        7.143982
std            NaN           1.680442                       32.952519
min            NaN           0.010000                        1.000000
25%            NaN           0.190000                        1.000000
50%            NaN           0.720000                        1.000000
75%            NaN           2.020000                        2.000000
max            NaN          58.500000                      327.000000

        availability_365
count       48895.000000
unique               NaN
top                  NaN
freq                 NaN
mean          112.781327
std           131.622289
min             0.000000
25%             0.000000
50%            45.000000
75%           227.000000
max           365.000000

In [5]:
#Dropping duplicates
#Drop fully duplicated rows
nyc_data.drop_duplicates(inplace=True)
#Ensure listing IDs are unique
nyc_data.drop_duplicates(subset='id',keep='first',inplace=True)

In [6]:
#Handling missing data
#Fill missing listing names with a default placeholder
nyc_data['name'] = nyc_data['name'].fillna("Unnamed Listing")
nyc_data['host_name'] = nyc_data['host_name'].fillna("Unknown Host")
nyc_data['last_review'] = pd.to_datetime(nyc_data['last_review'],errors='coerce')
#Fill missing dates with the string "0"
nyc_data['last_review'] = nyc_data['last_review'].fillna("0")

In [7]:
#Fill 'reviews_per_month'
#If number_of_reviews is 0, reviews_per_month is logically 0
nyc_data.loc[nyc_data['number_of_reviews'] == 0, 'reviews_per_month'] = 0
# Use neighborhood-specific median, or fall back to global median
global_median = nyc_data['reviews_per_month'].median()
neigh_median = nyc_data.groupby('neighbourhood')['reviews_per_month'].transform('median')
nyc_data['reviews_per_month'] = nyc_data['reviews_per_month'].fillna(neigh_median).fillna(global_median)

In [8]:
#Standardization
#Strip leading/trailing spaces from all text fields
for col in nyc_data.select_dtypes(include='object').columns:
    nyc_data[col] = nyc_data[col].astype(str).str.strip()
#Normalize bad text values (like "nan", "None")
nyc_data.replace(to_replace=["nan","NaN","None"],value=pd.NA,inplace=True)
#Reset index for cleanliness
nyc_data.reset_index(drop=True,inplace=True)

In [9]:
#Outlier detection
#Remove rows with zero or negative price
nyc_data = nyc_data[nyc_data['price']>0].copy()
#Cap high prices at the 99th percentile
price_cap = nyc_data['price'].quantile(0.99)
nyc_data['price'] = nyc_data['price'].clip(upper=price_cap)
#Cap minimum_nights at 99th percentile
min_nights_cap = nyc_data['minimum_nights'].quantile(0.99)
nyc_data['minimum_nights'] = nyc_data['minimum_nights'].clip(lower=1,upper=min_nights_cap).astype(int)

In [10]:
nyc_data.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [11]:
nyc_data.sample(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
17311,13672890,"1 Bedroom in 2 Bedroom Flex - Doormen, Free Gym",66114992,Kyle,Manhattan,Upper East Side,40.76247,-73.96238,Private room,55.0,5,0,0,0.00,1,0
25096,20092821,Dream bedroom in the heart of downtown Manhattan,23610188,Bess,Manhattan,Chinatown,40.71479,-73.99971,Private room,88.0,1,1,2017-08-14 00:00:00,0.04,1,0
35167,27901304,huge 2 bedroom / 2 bathroom GREENPOINT duplex,29600909,Inna,Brooklyn,Greenpoint,40.72927,-73.94770,Entire home/apt,160.0,2,14,2019-07-01 00:00:00,6.18,1,45